*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: #1a1a35;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  /* Primary Colors */
  --color-primary-dark: #202060;
  /* Secondary Colors */
  --color-secondary-light: #c19b2a;
  --color-secondary-light-hover: #a58424;
  --color-secondary-dark: #514112;
  /* Tertiary Colors */
  --color-tertiary-yellowgreen: #bdbf28;
  --color-tertiary-yellowgreen-hover: #a1a322;
  --color-tertiary-darkpurple: #4c1965;
}

/*
================================
 Content

================================
*/

/* General elements */

/* Buttons */
.btn {
  color: white;
  cursor: pointer;
  background-color: var(--color-secondary-light);
  border: 2px solid var(--color-secondary-dark);
  border-radius: 5px;
}
.btn:hover {
  background-color: var(--color-secondary-light-hover);
}
/* Span */
.span--bold {
  font-weight: 600;
}

/* 
 *
 * Nav
 *
 *
 */

.nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-tertiary-darkpurple);
  transition: opacity 700ms;
}
.nav--hidden {
  opacity: 0;
  transition: all 3s;
  transform: translateY(-100%);
}
.nav__form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  max-width: 30rem;
  width: 100%;
  margin: 12px auto;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

@media only screen and (min-width: 820px) {
  .nav {
    width: 12rem;
    height: 100%;
  }
  .nav--hidden {
    transform: translateY(auto);
    margin-left: -100%;
  }
  .nav__form {
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }
}

/* 
 *
 * Nav
 *
 * * * Form
 *
 *
 */

.nav .form__item {
  margin: 2px;
}
.nav .form__btn {
  width: 30%;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  background-color: var(--color-tertiary-yellowgreen);
  border-color: blueviolet;
}
.nav .form__btn:hover {
  background-color: var(--color-tertiary-yellowgreen-hover);
}

@media only screen and (min-width: 820px) {
  .nav .form__item {
    width: 100%;
  }
  .nav .form__btn {
    width: 70%;
    padding: 1rem;
    margin: 12px;
    font-size: 1.3rem;
  }
}

/* 
 *
 * Nav
 *
 * * * Form
 *
 * * * * * Item
 *
 *
 */

.nav__form .item__label {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}
.nav__form .item__input,
.nav__form .item__select {
  display: block;
  height: 1.5rem;
  margin: 5px auto;
  font-size: 1rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.nav__form .item__input[type="checkbox"] {
  width: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 820px) {
  .nav__form .item__label {
    font-size: 1.7rem;
  }
  .nav__form .item__input {
    width: 70%;
    padding: 12px;
    margin: 1rem auto;
  }
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}
.main__content {
  width: min(100%, 815px);
  margin-top: 10rem;
}
.main__content--expand {
  transform: scale(120%, 110%) translateY(1rem);
  transition: all 3s;
}

@media only screen and (min-width: 820px) {
  .main__content {
    width: min(90%, 815px);
    margin: 2.5rem auto;
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 30rem;
  height: 90%;
  padding: 1rem 0;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--color-primary-dark);
}

@media only screen and (min-width: 820px) {
  .main .container__container {
    min-width: 50rem;
    width: 70%;
    margin: 0 auto;
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 *
 */

.main__content .container__item--clock {
  width: 18.5rem;
  height: 18rem;
  margin: 50px auto;
  background-color: white;
  border: 3px solid var(--color-secondary-dark);
  border-radius: 50%;
}
.main__content .container__label {
  max-width: 14rem;
  width: 90%;
  padding: 7px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  border: 3px solid var(--color-secondary-dark);
  border-radius: 3px;
}
.main__content .container__btn--stop {
  display: block;
  width: 30%;
  padding: 0.5rem;
  margin: 0 auto;
  font-size: 1.4rem;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 * * * * * * * Item
 *
 *
 */

.main .container .item__label {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  background-color: white;
  border: 2px solid var(--color-secondary-dark);
}
.main .container .item__label--timer {
  width: 50%;
  margin: 7rem auto;
  border-radius: 5px;
}
.main .container .item__label--counter {
  width: 20%;
  padding: 5px;
  margin: -3rem auto;
  border-radius: 50%;
}
