*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--color-btn-hover);
  overflow: hidden;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
  height: auto;
}
/* Custom CSS properties */
:root {
  --color-btn: #333336;
  --color-btn-hover: #1e1e20;
  --color-nav: #750a6e;
  --color-container: #0a6e75;
  --color-container-label: #cfcfcf;
}

/*
================================
 Content

================================
*/

/* General elements */
.btn {
  color: white;
  cursor: pointer;
  background-color: var(--color-btn);
  border: 1px solid white;
  border-radius: 5px;
}
.btn:hover {
  background-color: var(--color-btn-hover);
}

/*
 * Nav
 *
 *
 *
 */

.nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 5rem;
  transition: opacity 700ms;
}
.nav--hidden {
  opacity: 0;
  transition: all 3s;
  transform: translateX(100%);
}

@media only screen and (min-width: 820px) {
  .nav {
    width: 12rem;
    height: 100%;
  }
}

/*
 * 
 * Form
 * 
 *
 */

.form {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  max-width: 30rem;
  width: 100%;
  height: 90%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  background-color: var(--color-nav);
  border-radius: 0 0 5px 5px;
}
.form__item {
  margin: 2px;
  color: white;
}
.form__label {
  font-size: 1.2em;
  color: inherit;
}
.form__input {
  display: block;
  height: 20px;
  margin: 5px auto;
  font-size: 1em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.form__input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
}
.form__btn {
  padding: 5px;
}

@media only screen and (min-width: 820px) {
  .form {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }
  .form__item {
    width: 100%;
  }
  .form__label {
    font-size: 1.7em;
  }
  .form__input {
    width: 70%;
    padding: 12px;
    margin: 1rem auto;
  }
  .form__btn {
    padding: 1rem;
    margin: 12px;
    font-size: 1.3em;
  }
}

/*
 * Main
 *
 *
 *
 */

.main {
  width: min(100%, 815px);
  height: 100%;
  padding-top: 5rem;
}
.main--expand {
  transform: scale(120%, 110%);
  transition: all 3s;
}

@media only screen and (min-width: 820px) {
  .main {
    width: max(90%, 815px);
    margin: 0 auto;
  }
}

/*
 *
 * Container
 *
 *
 */

.container {
  width: 90%;
  min-height: 31rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  margin: 0 auto;
  font-size: 1rem;
  cursor: default;
  border-radius: 5px;
  background-color: var(--color-container);
}
.container__label {
  max-width: 22rem;
  width: 90%;
  padding: 2px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}
.btn--stop-timer {
  display: block;
  width: 30%;
  padding: 5px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.4em;
}

@media only screen and (min-width: 820px) {
  .container {
    min-width: 50rem;
    width: 70%;
    margin: 0 auto;
  }
}

/*
 * 
 * 
 * Clock
 *
 */

.clock {
  width: 300px;
  max-height: 19rem;
  height: 70%;
  margin: 50px auto;
  font-size: 1rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}
.clock__label {
  font-weight: 500;
  font-size: 2.4em;
  text-align: center;
  background-color: var(--color-container-label);
}
.clock__label--timer {
  width: 50%;
  margin: 7rem auto;
  border-radius: 5px;
}
.clock__label--counter {
  width: 20%;
  padding: 5px;
  margin: -3rem auto;
  border-radius: 50%;
}
