*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: rgb(30, 30, 32);
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
  height: auto;
}
:root {
  --main-background-color: rgb(10, 110, 117);
  --alternate-background-color: rgb(68, 41, 68);
}
/* Content */

/*
 * Header
 *
 *
 *
 */

.header {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  background-color: var(--alternate-background-color);
}

@media only screen and (min-width: 760px) {
  .header {
    float: right;
    width: 20%;
    height: 100%;
  }
}

/*
 * 
 * Nav
 * 
 *
 */

.nav {
  width: 90%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}
.nav div {
  width: 60%;
}
.nav__btn {
  width: max(30%, 120px);
  font-size: 1.4em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgb(30, 30, 32);
}

@media only screen and (min-width: 760px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
  }
  .nav__btn {
    margin: 12px;
  }
}

/*
 * 
 * 
 * Timer
 *
 */

.timer {
  text-align: center;
}
.timer__label {
  font-size: 1.3em;
  color: #fff;
}
.timer__input {
  max-width: 120px;
  width: 70%;
  margin: 5px 0;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

/*
 * Main
 *
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
  padding-top: 36px;
}

@media only screen and (min-width: 760px) {
  .main {
    width: 80%;
  }
}

/*
 *
 * Container
 *
 *
 */

.container {
  position: relative;
  width: 90%;
  height: 90%;
  padding: 12px 0;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--main-background-color);
}
.container__label {
  max-width: 357px;
  width: 90%;
  padding: 2px;
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}
.container__btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 20%;
  padding: 5px;
  border-radius: 50%;
  background-color: #cfcfcf;
}

@media only screen and (min-width: 400px) {
  .container {
    width: 70%;
  }
}

/*
 * 
 * 
 * Clock
 *
 */

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 195px;
  height: 40%;
  border-radius: 50%;
  background-color: #fff;
}
.clock__label {
  font-size: 2.4em;
  font-weight: 500;
  text-align: center;
  background-color: #cfcfcf;
}
#label--timer {
  width: 50%;
  margin: 60px auto;
  border-radius: 5px;
}
#label--counter {
  width: 20%;
  padding: 5px;
  margin: -30px auto;
  border-radius: 50%;
}

@media only screen and (min-width: 400px) {
  .clock {
    width: 290px;
    height: 60%;
  }
  #label--timer {
    margin: 90px auto;
  }
  #label--counter {
    margin: -60px auto;
  }
}
