*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: #201f1f;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  --color-btn: #333336;
  --color-btn-hover: #1e1e20;
  --color-nav: #750a6e;
  --color-container: #0a6e75;
  --color-item-label: #cfcfcf;
}

/*
================================
 Content

================================
*/

/* General elements */

.btn {
  color: white;
  cursor: pointer;
  background-color: var(--color-btn);
  border: 2px solid white;
  border-radius: 5px;
}
.btn:hover {
  background-color: var(--color-btn-hover);
}

/* 
 *
 * Nav
 *
 *
 */

.nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 8rem;
  background-color: var(--color-nav);
  transition: opacity 700ms;
}
.nav--hidden {
  opacity: 0;
  transition: all 3s;
  transform: translateX(100%);
}
.nav__form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  max-width: 30rem;
  width: 100%;
  height: 90%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

@media only screen and (min-width: 820px) {
  .nav {
    width: 12rem;
    height: 100%;
  }
  .nav__form {
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }
}

/* 
 *
 * Nav
 *
 * * * Form
 *
 *
 */

.nav .form__item {
  margin: 2px;
  color: white;
}
.nav .form__btn {
  width: 30%;
  padding: 5px;
  margin: 5px;
  font-size: 1em;
}

@media only screen and (min-width: 820px) {
  .nav .form__item {
    width: 100%;
  }
  .nav .form__btn {
    width: 70%;
    padding: 1rem;
    margin: 12px;
    font-size: 1.3em;
  }
}

/* 
 *
 * Nav
 *
 * * * Form
 *
 * * * * * Item
 *
 *
 */

.nav__form .item__label {
  font-size: 1.2em;
  color: inherit;
}
.nav__form .item__input,
.nav__form .item__select {
  display: block;
  height: 20px;
  margin: 5px auto;
  font-size: 1em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.nav__form .item__input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 820px) {
  .nav__form .item__label {
    font-size: 1.7em;
  }
  .nav__form .item__input {
    width: 70%;
    padding: 12px;
    margin: 1rem auto;
  }
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}
.main__content {
  width: min(100%, 815px);
  margin-top: 8rem;
}
.main__content--expand {
  transform: scale(120%, 110%) translateY(1rem);
  transition: all 3s;
}

@media only screen and (min-width: 820px) {
  .main__content {
    width: min(90%, 815px);
    margin: 2.5rem auto;
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 30rem;
  height: 90%;
  padding: 1rem 0;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--color-container);
}

@media only screen and (min-width: 820px) {
  .main .container__container {
    min-width: 50rem;
    width: 70%;
    margin: 0 auto;
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 *
 */

.main__content .container__item--clock {
  width: 18.5rem;
  height: 18rem;
  margin: 50px auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}
.main__content .container__label {
  max-width: 14rem;
  width: 90%;
  padding: 7px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}
.main__content .container__btn--stop {
  display: block;
  width: 30%;
  padding: 5px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 600;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 * * * * * * * Item
 *
 *
 */

.container__item .item__label {
  font-size: 2.4em;
  font-weight: 500;
  text-align: center;
  background-color: var(--color-item-label);
}
.container__item .item__label--timer {
  width: 50%;
  margin: 7rem auto;
  border-radius: 5px;
}
.container__item .item__label--counter {
  width: 20%;
  padding: 5px;
  margin: -3rem auto;
  border-radius: 50%;
}
